{% extends "layout.html" %}

{% block main %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="static/favicon.ico" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">A simple Sudoku solver</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Steven Lam - 2022</p>
        </div>
    </header>

    <div class="section">

        <br>
        <div class="container">

            <h3 class="text-center">Usage:</h3>
            <p>

            Below is a 9 x 9 grid of inputs that represents the Sudoku puzzle to be solved. Each input can have any number between 0 - 9.

            For numbers you wish to solve, leave them as 0. Otherwise, fill in the grid with all the known numbers in the puzzle.

            </p>
        </div>

        <!-- TODO Use a table to display Sudoku grid -->
        <br>
        <div class="container-lg align-items-center">

            <!-- Setup Sudoku puzzle to solve -->
            <form action="/solve" method="post" class="form-control">
                {% for i in range(1, 10) %}

                <div class="row align-items-center g-2">
                    {% for j in range (1, 10) %}

                    <div class="col-sm">
                        <select class="form-control" name="grid_{{ i }}{{ j }}">
                            {% for k in range (0, 10) %}

                                <option>{{ k }}</option>

                            {% endfor %}
                        </select>
                    </div>

                    {% endfor %}
                </div>
                {% endfor %}
                <br>

                <!-- Solve! -->
                <button class="btn-lg btn-primary align-center" type="submit">Solve!</button>
            </form>
        </div>
    </div>

{% endblock %}