{% extends "layout.html" %}

{% block main %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="static/favicon.ico" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">A simple Sudoku solver</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Steven Lam - 2022</p>
        </div>
    </header>

    <div class="section">

        <br>
        <div class="container">

            <h3 class="text-center">Usage:</h3>
            <!-- TODO Write better usage -->
            <p>
                Below is a 9 x 9 grid of inputs that represents the Sudoku puzzle to be solved. Each input can have any number between 0 - 9. Simply fill out the grid with all known numbers, leaving the unknown ones as 0.
            </p>
            <p>
                Once done, click Solve! for the solution.
            </p>
        </div>

        <!-- Use a table to display Sudoku grid -->
        <div class="container-lg align-items-center" style="height:0;width:20%;padding-bottom:20%;">
            <form action="/" method="post" class="form-control">
                <table>
                    {% for i in range(0, 9) %}
                        <tr>
                            {% for j in range(0, 9) %}
                            <td>
                                <select class="form-control" name="grid_{{ i }}{{ j }}">
                                    {% for k in range (0, 10) %}
                                        <option>{{ k }}</option>
                                     {% endfor %}
                                </select>
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <!-- Solve! -->
                            <button class="btn-lg btn-primary" type="submit">Solve!</button>
                        </div>
                        <div class="col text-center">
                            <!-- Reset! -->
                            <input class="btn-lg btn-secondary" type="reset" value="Reset!">
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <br>

{% endblock %}